.header_row {
    display: flex;
    flex-direction: row;
    height: 100px;
    margin-top:40px;
    background: #acacac;
}
.header_row div {
    flex-grow: 1;
    margin: 10px;
}
.header_row div:nth-of-type(2){
    flex-grow:3; 
}
.header_row > div:first-child > div {
    height: 200px;
    width: 200px;
    margin-top:-40px;
    background-image: url('Resources/logo.png');
    background-size: cover;
    font-family: 'Lobster', cursive;
    text-align: center;
    padding-top: 2%;

}
.header_row div:first-child h1 {
    margin-top:40px;
    color: red;
}


.row1 {
    height: 500px;

}
.row1_1 {

    display: grid;
    margin: 0px 10%;
    grid-gap: 10px;
    grid-template-columns: 200px auto;
    grid-template-rows: 100px 200px;

}   

    .row1_1 div:first-child {
        grid-area: 1/1/1/3;
        font-size: 50px;
        color: #7a7a7a;
        font-family: 'Josefin Sans', sans-serif;

    }
    
    .row1_1 div img {
        width: 200px;
        height: 200px;
    }
    .row1_1 div:nth-of-type(3){
        font-size: 20px;
        text-align: left;
        padding-left:20px; 
        font-family: 'Dancing Script', cursive;
    }
    .row1_1 div span {
        font-size: 40px;
        color: red;
    }

    .row2 {
        height: 300px;
    
    }
    .row2_1 {
    
        display: grid;
        margin: 0px 10%;
        grid-gap: 10px;
        grid-template-columns: auto 200px;
        grid-template-rows: 100px 200px 100px;
    
    }   
    
        .row2_1 div:first-child {
            grid-area: 1/1/1/3;
            font-size: 50px;
            color: #7a7a7a;
            font-family: 'Josefin Sans', sans-serif;
    
        }
        .row2_1 div img {
            width: 200px;
            height: 200px;
        }
        .row2_1 div:nth-of-type(2){
            font-size: 20px;
            text-align: left;
            padding-left:20px; 
            font-family: 'Dancing Script', cursive;
        }
        .row2_1 div span {
            font-size: 40px;
            color: red;
        }
        .row3 {
            height: 500px;
        
        }
        .row3_1 {
        
            display: grid;
            margin: 0px 10%;
            grid-gap: 10px;
            grid-template-columns: 200px auto;
            grid-template-rows: 100px 200px;
        
        }   
        
            .row3_1 div:first-child {
                grid-area: 1/1/1/3;
                font-size: 50px;
                color: #7a7a7a;
                font-family: 'Josefin Sans', sans-serif;
        
            }
            
            .row3_1 div img {
                width: 200px;
                height: 200px;
            }
            .row3_1 div:nth-of-type(3){
                font-size: 20px;
                text-align: left;
                padding-left:20px; 
                font-family: 'Dancing Script', cursive;
            }
            .row3_1 div span {
                font-size: 40px;
                color: red;
            }
            .row4 {
                height: 300px;
            
            }
            .row4_1 {
            
                display: grid;
                margin: 0px 10%;
                grid-gap: 10px;
                grid-template-columns: auto 200px;
                grid-template-rows: 100px 200px 100px;
            
            }   
            
                .row4_1 div:first-child {
                    grid-area: 1/1/1/3;
                    font-size: 50px;
                    color: #7a7a7a;
                    font-family: 'Josefin Sans', sans-serif;
            
                }
                .row4_1 div img {
                    width: 200px;
                    height: 200px;
                }
                .row4_1 div:nth-of-type(2){
                    font-size: 20px;
                    text-align: left;
                    padding-left:20px; 
                    font-family: 'Dancing Script', cursive;
                }
                .row4_1 div span {
                    font-size: 40px;
                    color: red;
                }
                .row5 {
                    height: 500px;
                
                }
                .row5_1 {
                
                    display: grid;
                    margin: 0px 10%;
                    grid-gap: 10px;
                    grid-template-columns: 200px auto;
                    grid-template-rows: 100px 200px;
                
                }   
                
                    .row5_1 div:first-child {
                        grid-area: 1/1/1/3;
                        font-size: 50px;
                        color: #7a7a7a;
                        font-family: 'Josefin Sans', sans-serif;
                
                    }
                    
                    .row5_1 div img {
                        width: 200px;
                        height: 200px;
                    }
                    .row5_1 div:nth-of-type(3){
                        font-size: 20px;
                        text-align: left;
                        padding-left:20px; 
                        font-family: 'Dancing Script', cursive;
                    }
                    .row5_1 div span {
                        font-size: 40px;
                        color: red;
                    }

                    @media (max-width:992px){
                        .row1 {
                            height: 600px;;
                        }
                        .row1_1 {
            
                
                            margin: 0px 5%;
                            grid-gap: 10px;
                            grid-template-columns: auto;
                            grid-template-rows: 100px 200px 200px 100px;
                        
                        } 
            
                        .row1_1 div:first-child {
                            grid-area: 1/1/1/1;
                            font-size: 30px;
                    
                        }
                        .row1_1 div:nth-of-type(2){
                            grid-area: 2/1/2/1;
                      
                    
                        }
                        .row1_1 div:nth-of-type(3){
                            grid-area: 3/1/3/1;
                        }
                        
                    

                        .row2 {
                            height: 600px;;
                        }
                        .row2_1 {
            
                
                            margin: 0px 5%;
                            grid-gap: 10px;
                            grid-template-columns: auto;
                            grid-template-rows: 100px 200px 200px 100px;
                        
                        } 
            
                        .row2_1 div:first-child {
                            grid-area: 1/1/1/1;
                            font-size: 30px;
                    
                        }
                        .row2_1 div:nth-of-type(3){
                            grid-area: 2/1/2/1;
                      
                    
                        }
                        .row2_1 div:nth-of-type(2){
                            grid-area: 3/1/3/1;
                        }



                        .row3 {
                            height: 600px;;
                        }
                        .row3_1 {
            
                
                            margin: 0px 5%;
                            grid-gap: 10px;
                            grid-template-columns: auto;
                            grid-template-rows: 100px 200px 200px 100px;
                        
                        } 
            
                        .row3_1 div:first-child {
                            grid-area: 1/1/1/1;
                            font-size: 30px;
                    
                        }
                        .row3_1 div:nth-of-type(2){
                            grid-area: 2/1/2/1;
                      
                    
                        }
                        .row3_1 div:nth-of-type(3){
                            grid-area: 3/1/3/1;
                        }
                        

                        .row4 {
                            height: 600px;;
                        }
                        .row4_1 {
            
                
                            margin: 0px 5%;
                            grid-gap: 10px;
                            grid-template-columns: auto;
                            grid-template-rows: 100px 200px 200px 100px;
                        
                        } 
            
                        .row4_1 div:first-child {
                            grid-area: 1/1/1/1;
                            font-size: 30px;
                    
                        }
                        .row4_1 div:nth-of-type(3){
                            grid-area: 2/1/2/1;
                      
                    
                        }
                        .row4_1 div:nth-of-type(2){
                            grid-area: 3/1/3/1;
                        }

                        .row5 {
                            height: 600px;;
                        }
                        .row5_1 {
            
                
                            margin: 0px 5%;
                            grid-gap: 10px;
                            grid-template-columns: auto;
                            grid-template-rows: 100px 200px 200px 100px;
                        
                        } 
            
                        .row5_1 div:first-child {
                            grid-area: 1/1/1/1;
                            font-size: 30px;
                    
                        }
                        .row5_1 div:nth-of-type(2){
                            grid-area: 2/1/2/1;
                      
                    
                        }
                        .row5_1 div:nth-of-type(3){
                            grid-area: 3/1/3/1;
                        }


                        .row1_1 div:first-child,.row2_1 div:first-child,.row3_1 div:first-child,.row4_1 div:first-child,.row5_1 div:first-child {
                            text-align: center;
                        }
                    }